<mat-card class="container mt-2">
  <app-chat-header></app-chat-header>
  <mat-card-content class="d-flex flex-column">
    <app-chat-new-conversation
      (createConversation)="createConversation()"
    ></app-chat-new-conversation>
    <app-chat-conversation
      [conversationId]="conversationId()"
      [messages]="messages()"
      (rateMessage)="rateMessage($event.messageId, $event.rating)"
    >
    </app-chat-conversation>
  </mat-card-content>
  <app-chat-actions
    *ngIf="conversationId()"
    [message]="messageInput()"
    [canCancel]="canCancel()"
    (messageChange)="messageInput.set($event)"
    (sendMessage)="sendMessage()"
    (cancelMessage)="cancelMessage()"
  >
  </app-chat-actions>
</mat-card>
